.kiwi {
  font-family: 'Kiwi Maru', serif;
}
.waterfall {
  font-family: 'Waterfall', cursive;
}
.ubunto {
  font-family: 'Ubuntu Mono', monospace;
}
.font-normal {
  font-style: initial;
}
.offset-n1 {
  margin-left: -8.33333333%;
  @include note {
    margin-left: 0;
  }
}
.min-body-heigh {
  min-height: calc(70vh - 112px);
}
.imgset{
  width: 100%;
  height: 40vh;
  object-fit: cover;
  @include pad {
    height: 30vh;
  }
}
.bg-cover {
  object-fit: cover;
}
.card-head {
  overflow: hidden;
}
.product-card {
  overflow: hidden;
  img {
    transition: 0.3s;
  }
  &:hover img {
    transform: scale(1.2);
  }
  &:hover {
    box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.2);
  }
}
.writing-vertical {
  writing-mode: vertical-lr 
}
.z-index-3 {
  z-index: 3;
}
.letter-space {
  letter-spacing: 1px;
}

$utilities: (
  "bg-opacity": (
      css-var: true,
      class: bg-opacity,
      values: (
        10: .1,
        25: .25,
        50: .5,
        75: .75,
        90: .9,
        100: 1
      )
    ),
);

